<!DOCTYPE html>
<html>
	<head>
		<title>Shopping Cart</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css') }}"/>
	</head>

		<body>

		<nav class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#"><h2>SmartCart</h2></a><br>
				<a class="navbar-brand" href="#"><br><h6>Surya Rajasekaran & Sravya Patruni</h6></a>
				<br>
				<div class="navbar-right">
					<div class="container minicart"></div>
				</div>
			</div>
		</nav>

		<div class="container-fluid breadcrumbBox text-center">
			<ol class="breadcrumb">
				<li class="active"><a href="#">List</a></li>
			</ol>
		</div>

		<div class="container text-center">

			<div class="col-md-5 col-sm-12">
				<div class="bigcart"></div>
				<h1>Your shopping list</h1>
				<p>

					<form action="/html/tags/html_form_tag_action.cfm" method="post">
					<textarea name="comments" id="comments" style="width:96%;height:90px;background-color:#FFE8DC;color:black;border:none;padding:2%;font:15px/15px sans-serif;"> Enter shopping items/notes etc :
					</textarea>
				<input type="submit" value="Save" style="background-color:#FE9F6D;color:black;padding:5px;font-size:18px;border:none;padding:8px;">

					</form>
				</p>
			</div>

			<div class="col-md-7 col-sm-12 text-left">
				<ul id="list">
					<!-- LIST -->
				</ul>
			</div>

		</div>

		<!-- The popover content THAT NEEDS TO HAVE INTERFACE WITH Database-->

		<div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div>

		<!-- JavaScript includes -->

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/customjs.js') }}"></script>
		<script src="{{ url_for('static',filename='js/getList.js') }}"></script>
	</body>

</html>