<!DOCTYPE html>
<html lang="en">
<head>
  <title>SmartCart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#FFF0F5">

<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ##FFCCCC;
    color: black;
    text-align: center;
}
</style>

<div class="container">
	<img src="../static/images/smartcartlogo.png" alt="smartcartlogo" style="float:left;width:200px;height:200px;">
  <br>
	<br>
	<br>
	<br>

	<h4>Your Shopping List:</h4>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>S.No.</th>
        <th>Image</th>
        <th>Product</th>
	  	<th>Timestamp</th>
        <th>Cheapest Price</th>
	  	<th>Amazon</th>
	  	<th>Walmart</th>
		<th>Details</th>
		<th>Addition Type</th>
		<th>Sensor</th>
        <th>Client</th>
      </tr>
    </thead>

	  <tbody id="list">

	  </tbody>

	<!--tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr-->



  </table>
</div>

<div class="footer">
  <p>Smart Cart by Surya Rajasekaran & Sravya Patruni</p>
</div>

<script src="{{ url_for('static',filename='js/getList2.js') }}"></script>


</body>
</html>